html, body {
    background-color: #f5f6f7;
    color: #000000;
    font-family: 'Domine', serif;

    /*font-family: Georgia, serif;*/
    /*ltc-bodoni-175, serif;*/
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

/**************** NAVBAR START ****************/
.navbar,
.nav-item .dropdown-menu.show .dropdown-item:hover,
.nav-item .dropdown-menu.show .dropdown-item:focus {
    background-color:  #535353f2;
}

.nav-link {
    color: #ffffff !important;
    font-weight:400;
}

.navbar-brand {
    color: #ffffff;
    font-weight: 600;
    font-size: 30px;
}

.nav-item .dropdown-menu {
    background-color: #535353f2;
    border-color: #535353f2; 
    padding-left: 25px;

}

/* Set the navbar-toggler border color to white*/ 
.custom-toggler.navbar-toggler { 
    border-color: #ffffff; 
} 

/* Setting the navbar-toggler stroke to white using rgb values*/  
.custom-toggler .navbar-toggler-icon { 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke=' rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/**************** NAVBAR END ****************/

.content {
    /*text-align: center;*/
    padding: 25px;
}

.card {
    margin-bottom: 10px;
}

/*********** Set Dashboard Card Color *******************/
.cardColor {
    border-color:  var(--c);
    background-color:  var(--c)
}

.stage-card-body {
  background-color: var(--c);
  filter: brightness(110%);
}

.stageText {
    text-shadow: 1px 1px #ffffff;
}

/*drop-down override*/
div.btn-group.show div.dropdown-menu.show {
  background-color: #f5f6f7;
}

div.btn-group.show div.dropdown-menu.show button.dropdown-item:hover,
div.btn-group.show div.dropdown-menu.show button.dropdown-item:focus {
  background-color: #dadee3;
}

/**************** ColorPicker Sizing Start ****************/ 
.custom-size .colorpicker-saturation {
    width: 175px;
    height: 175px;
}

.custom-size .colorpicker-hue,
.custom-size .colorpicker-alpha {
    width: 40px;
    height: 175px;
}

.custom-size .colorpicker-color,
.custom-size .colorpicker-color div {
    height: 40px;
}
/**************** ColorPicker Sizing End ****************/ 


/*.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}*/


/*.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}*/

/*.kanbanBoard{
    padding:1em 1em;
    border:0.16em solid #eaeaec;
    box-sizing: border-box;
}*/

/*.blueBtn {
    background-color:  #3950f9;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
}*/

/*.title {
    font-size: 84px;
}*/

/*.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}*/